C_project/.DS_Store
CodeAccelerometre/main.py
CodeAccelerometre/mpu6050.py
CodeAccelerometre/madgwick_py-master/__init__.py
CodeAccelerometre/madgwick_py-master/.gitignore
CodeAccelerometre/madgwick_py-master/LICENSE
CodeAccelerometre/madgwick_py-master/madgwickahrs.py
CodeAccelerometre/madgwick_py-master/quaternion.py
CodeAccelerometre/madgwick_py-master/README.md
C_project/.vscode/settings.json
.DS_Store
C_project/sdkconfig
C_project/.vscode/settings.json
C_project/sdkconfig.old
